<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" formControlName="username">
      <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
        <span *ngIf="loginForm.get('username')?.errors?.['required']">Username is required.</span>
      </div>
    </div>
  
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password">
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
        <span *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</span>
      </div>
    </div>

    <p [routerLink]="''">Dont have account</p>
  
    <button type="submit" [disabled]="!loginForm.valid">Login</button>
  </form>
  