<div id="boyd">
    <div class="container">
        <main>
            <section class="dashboard">
                <h2>Welcome Back, {{decodedToken.username}}!</h2>
                <div class="stats">
                    <div [routerLink]="'/admin/seePost'" class="stat">
                        <h3>Total Posts</h3>
                        <p>{{count?.post}}</p>
                    </div>
                    <div [routerLink]="'/admin/seeUsers'" class="stat">
                        <h3>Active Users</h3>
                        <p>{{count?.user}}</p>
                    </div>
                    <div class="stat">
                        <h3>Comments</h3>
                        <p>0</p>
                    </div>
                </div>
            </section>
        </main>
    </div>
</div>